<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ucsmy.mc.common.exmapper.ExDictionaryMapper" >
 <select id="getDictionaryMap" resultMap="com.ucsmy.mc.common.mapper.DictionaryMapper.BaseResultMap" parameterType="java.util.Map">
		SELECT 
		<include refid="com.ucsmy.mc.common.mapper.DictionaryMapper.Base_Column_List"/>
		FROM dictionary
		where 1=1
	  <if test="code != null" >
        and code = #{code,jdbcType=TINYINT}
      </if>
      <if test="value != null" >
         and  value = #{value,jdbcType=VARCHAR}
      </if>
      <if test="kind != null" >
         and  kind = #{kind,jdbcType=VARCHAR}
      </if>
      <if test="detial != null" >
          and detial = #{detial,jdbcType=VARCHAR}
      </if>
      <if test="reserved01 != null" >
       and    reserved01 = #{reserved01,jdbcType=VARCHAR}
      </if>
      <if test="reserved02 != null" >
        and   reserved02 = #{reserved02,jdbcType=VARCHAR}
      </if>
      <if test="reserved03 != null" >
        and   reserved03 = #{reserved03,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null" >
       and    create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="createPerson != null" >
         and  create_person = #{createPerson,jdbcType=VARCHAR}
      </if>
      <if test="updateTime != null" >
        and   update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updatePerson != null" >
       and    update_person = #{updatePerson,jdbcType=VARCHAR}
      </if>
      <if test="deleteFlag != null" >
         and  delete_flag = #{deleteFlag,jdbcType=VARCHAR}
      </if>
      <if test="deleteTime != null" >
        and   delete_time = #{deleteTime,jdbcType=TIMESTAMP}
      </if>
      <if test="deleterPerson != null" >
        and   deleter_person = #{deleterPerson,jdbcType=VARCHAR}
      </if>
       ORDER BY code ASC
	</select>
</mapper>