.radio_label {height:15px; vertical-align:middle; margin-top:6px;}

.label_padding {padding-top:7px;}
.label_font {font-size:14px;}

.table_uploadfile_list {border-collapse:collapse;}
.table_uploadfile_list tr td {padding-bottom:5px;}
.table_uploadfile_list_delete {padding:1px 0 0 20px;font-size:14px;}