<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ucsmy.mc.module.monitor.mapper.ZbHisDataMapper" >
  <resultMap id="BaseResultMap" type="com.ucsmy.mc.module.monitor.entity.ZbHisData" >
    <id column="id" property="id" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.ucsmy.mc.module.monitor.entity.ZbHisData" extends="BaseResultMap" >
    <result column="zb_data" property="zbData" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id
  </sql>
  <sql id="Blob_Column_List" >
    zb_data
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from zb_his_data
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zb_his_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ucsmy.mc.module.monitor.entity.ZbHisData" >
    insert into zb_his_data (id, zb_data)
    values (#{id,jdbcType=INTEGER}, #{zbData,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ucsmy.mc.module.monitor.entity.ZbHisData" >
    insert into zb_his_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="zbData != null" >
        zb_data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="zbData != null" >
        #{zbData,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ucsmy.mc.module.monitor.entity.ZbHisData" >
    update zb_his_data
    <set >
      <if test="zbData != null" >
        zb_data = #{zbData,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ucsmy.mc.module.monitor.entity.ZbHisData" >
    update zb_his_data
    set zb_data = #{zbData,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>